<div class="page-header">
  <%= link_to new_company_branch_path(@company), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Branch
  <% end %>
  <h1>Branches</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width:50%;">Alias</th>
        <th>Location</th>
        <th style="width:140px;"></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @branches) do |branch| %>
            <td><%= branch.alias %></td>
            <td><%= branch.city %> - <%= branch.uf %>, <%= branch.country %></td>
            <td>
              <div class="btn-group pull-right" role="group" aria-label="...">
                <a href="<%= company_branch_path(branch.company, branch) %>" class="btn btn-default"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
                <a href="<%= edit_company_branch_path(branch.company, branch) %>" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, company_branch_path(branch.company, branch), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </td>
      <% end %>
    </tbody>
  </table>
</div>
