<% content_for :nav do %>
  <%= render "common/top_nav" %>
<% end %>

<div ng-controller="ShowAnalyteController" class="container">
  <% breadcrumb( :analyte, @company, @branch, @analyte ) %>

  <div class="page-header">
    <h3>Analyte</h3>
  </div>

  <form class="form-horizontal" style="margin: 20px;">
    <div class="form-group" style="float:left;">
      <label for="inputEmail3" class="col-sm-4 control-label">Y-axis</label>
      <div class="col-sm-10">
        <select class="form-control">
            <option>Temperature °C</option>
            <option>Heart Frequency b/s</option>
            <option>Ph</option>
            <option>Relative Umidity %</option>
        </select>
      </div>
    </div>
    <div class="form-group" style="float:left;">
      <label for="inputPassword3" class="col-sm-4 control-label">X-axis</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Time</option>
            <option>Temperature °C</option>
            <option>Heart Frequency b/s</option>
            <option>Ph</option>
            <option>Relative Umidity %</option>
        </select>
      </div>
    </div>
    <div class="form-group" style="float:left; text-align: center;">
      <label for="inputPassword3" class="col-sm-8 control-label">Comparsion data</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Weight</option>
            <option>Lanado</option>
            <option>Color</option>
        </select>
      </div>
    </div>
    <div class="form-group" style="float:left; text-align: center;">
      <label for="inputPassword3" class="col-sm-6 control-label">Layout</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Simple chart</option>
            <option>WIth back data</option>
            <option>3D</option>
            <option>Data Dispersion</option>
        </select>
      </div>
    </div>
  </form>

  <highchart id="chart1" config="chartConfig" class="span9" ></highchart>

  <table class="table table-bordered">
      <tr>
        <th width="150" colspan="2">
          Analyte Informations
          <div class="btn-group pull-right" role="group" aria-label="...">
              <a href="<%= edit_company_branch_analyte_path(@company, @branch, @analyte) %>" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
              <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, company_branch_analyte_path(@company, @branch, @analyte), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
      <tr>
        <th width="150">Name</th>
        <td width="250"><%= @analyte.name %></td>
      </tr>
      <tr>
        <th>Identify Code</th>
        <td><%= @analyte.code %></td>
      </tr>
      <tr>
        <th>Specie</th>
        <td><%= defined?(@analyte.specie_profile.especiename) ? @analyte.specie_profile.especiename : '-' %></td>
      </tr>
      <tr>
        <th>Birthdate</th>
        <td><%= @analyte.birthdate %></td>
      </tr>
      <tr>
        <th>Weight</th>
        <td><%= @analyte.weight %> Kg</td>
      </tr>
      <tr>
        <th>Color</th>
        <td><%= @analyte.color %></td>
      </tr>
      <tr>
        <th>Lanado</th>
        <td><%= @analyte.lanado %></td>
      </tr>
  </table>

  <div class="small pull-right" style="margin-right: 15px;"><%= page_entries_info @measures %></div>
  <%= render "measures/list" %>
  <%= paginate @measures %>

</div>


