<%= stylesheet_link_tag "login" %>
<% content_for :nav do %>
  <nav class="navbar navbar-default">
		<div class="container-fluid">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Fisioeng</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav navbar-right">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
		        <ul class="dropdown-menu" role="menu">
		          <li><a href="#">About o Software</a></li>
		          <li><a href="#">About o Author</a></li>
		        </ul>
		      </li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
<% end %>


<div class="container well">
  <section class="heimdall-login-index-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <div class="form-wrap">
              <h1>Log in with your credentials</h1>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' }, label: false %>
                </div>
                <div class="form-group">
                  <%= f.input :password, required: true, input_html: { class: 'form-control' }, label: false %>
                </div>

                <div class="form-group">
                  <input type="submit" class="btn btn-custom btn-lg btn-block" value="Login" />
                </div>

                <div class="form-group">
                  <%= f.input :remember_me, as: :boolean, input_html: { class: 'form-control' } if devise_mapping.rememberable? %>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
              <hr>
            </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section>
</div>
