<% content_for :nav do %>
  <%= render "common/top_nav" %>
<% end %>
<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>


<div class="container" ng-controller="GraphController">
  <% breadcrumb( :sampling, @company, @branch, @analyte, @sampling ) %>
  <div class="page-header row">
    <h3 class="pull-left"><%= @sampling.name %></h3>
    <form style="width: 600px !important;"class="form-inline col-sm-12 pull-right">
      <div class="form-group pull-right">
        <label style="width: 100px" class="col-sm-2 control-label">Api URL</label>
        <div class="col-sm-10">
          <input style="width: 300px" class="form-control" readonly value="<%= measure_new_url(@sampling.id)%>">
        </div>
      </div>
    </form>
  </div>

  <%=  render "measures/graph/main" %>

  <div class="small pull-right" style="margin-right: 15px;"><%= page_entries_info @measures %></div>
  <%=  render "measures/list" %>
  <%= paginate @measures %>
</div>

<meta name="measures_route" content="<%= company_branch_analyte_sampling_measures_url(@company, @branch, @analyte, @sampling, format: :json) %>"
