<% content_for :nav do %>
  <%= render "common/top_nav" %>
<% end %>
<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>

<div class="container" ng-controller="GraphController">
  <div class="page-header">
    <h3><%= @sampling.name %></h3>
  </div>

  <%=  render "measures/graph/main" %>

  <div class="small pull-right" style="margin-right: 15px;"><%= page_entries_info @measures %></div>
  <%=  render "measures/list" %>
  <%= paginate @measures %>
</div>

<meta name="measures_route" content="<%= company_branch_analyte_sampling_measures_url(@company, @branch, @analyte, @sampling, format: :json) %>"
