<% content_for :nav do %>
  <%= render "common/top_nav" %>
<% end %>

<div class="container">
  <div class="page-header">
    <%= link_to new_specie_profile_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Specie profile
    <% end %>
    <h3>Specie Profiles</h3>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Especiename</th>
          <th>Alias</th>
          <th style="width: 225px;"></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @specie_profiles) do |specie_profile| %>
              <td><%= specie_profile.especiename %></td>
              <td><%= specie_profile.alias %></td>
              <td>
                <div class="btn-group pull-right" role="group" aria-label="...">
                  <a href="<%= specie_profile_path(specie_profile) %>" class="btn btn-default"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
                  <a href="<%= edit_specie_profile_path(specie_profile) %>" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                  <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, specie_profile, method: :delete, class: 'btn btn-default' , data: { confirm: 'Are you sure?' } %>
                </div>
              </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
